<div class='row'>
	<div class='col m4 offset-m4'>
		<h1>Edit User</h1>
		<form id='edit_form' data-id=<%= @user_id %>>
			<input id='first_name' name='user[first_name]'>
			<input id='last_name' name='user[last_name]'>
			<input id='phone_number' name='user[phone_number]'>
			<button class='btn btn-prmary' type='submit'>Update User</button>
		</form>
	</div>
</div>